body{
	margin: 0;
}

	/*******Navbar*******/

.fahome,.fafood,.faservices,.facontact,.faabout {
	font-family: 'Abel', sans-serif;
	color: whitesmoke;
	font-weight: 500;
	font-size: 23px;
}

.h3Login {
	font-family: 'Roboto', sans-serif;
	color: whitesmoke;
	font-size: 30px;
	margin-left: 30%;
	margin-top: 10%;
}

/****** Searchbar*****/

.searchbar-pos{
	
	position: absolute;
	
	padding-top: 28rem;
	padding-left: 3rem;
	
}

.searchbar-note{
	font-family: Abel;
	color: white;
	font-weight: 400;
	letter-spacing: 0.2rem;
	font-size: 400;
}

.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 50px;
    background-color: #f0f2f7;
    border-radius: 20px;
    padding: 10px;
    }

    .search_input{
    color: black;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 30px;
	transition: width 0.4s linear;
	font-family: Abel;

    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 450px;
    caret-color:red;
	transition: width 0.4s linear;
    }

    .searchbar:hover > .search_icon{
    background: white;
    color: #e74c3c;
    }

    .search_icon{
    height: 30px;
    width: 30px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:black;
    text-decoration:none;
	}

/************Section 1*********/
.fwh-slide1{
	height: 100vh;
	box-sizing: border-box;
	background: url(../img/rsz_bg1.jpg) no-repeat fixed;
	background-size: auto;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	max-width: 100%;
	
}


.graybox{
	width: 100% ;
	background:  rgba(149, 142, 142, 0.6);
	display: inline-block;
	height: 130px;
	border-radius: 150px;
	mix-blend-mode: luminosity;
  }
  .foodhauz-text{
	font-family: Zilla Slab;
	font-size: 1.1rem;
	color: black;
	letter-spacing:3px;
	font-weight: 800;
	padding-left: 42%;
	margin-top:-4%;
	
  }

  .Kaunan-text{

	font-family: Zilla Slab;
	color: whitesmoke;
	font-size: 4rem;
	font-weight: 700;
	letter-spacing: 8px;
	margin-left: 30%;
	
}																 
										
															 
						
/************SEction2*************/

.fwh-slide2{
	height: 100vh;
	box-sizing: border-box;
	background: url(../img/rsz_calum.jpg) no-repeat;
	background-size: cover;
	
	
}

.whitebox2{
	width: 95% ;
	background: #eeecec;
	display: inline-block;
	height: 55%;
	border-radius: 3px;
	border-radius: 3px;
	opacity: 0.75;
	margin-left: 5%;
	margin-top: 10%;
	
  }

  .p-style{
	font-family: Abel;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 23px;
	color: #070707;
	margin-left: 3.3%;
	margin-top: -8%;
	margin-bottom: 15%;
	border-radius: 15px;
	
  }

  .join-us-btn{
	 color:white;
	 mix-blend-mode: normal;
	 color-adjust: rgb(255, 0, 0);
	margin-top: -25%;
	margin-left: 83%;
	stop-opacity: unset;
	
  }

  .join-us-btn:hover{
	  color: rgb(89, 0, 255);
  }

  .partner-box{
	width: 250px ;
	background: #eeecec;
	display: inline-block;
	height: 80px;
	border-radius: 3px;
	border-radius: 3px;
	opacity: 0.65;
	margin-left: 34%;
	margin-top: 10%;
	
  }

  .partner-text{
	font-family: Abel;
	font-style: normal;
	font-weight: 700;
	font-size: 19px;
	padding-left: 10px;
	
	
	color: #000000;
  }

  .logo-cont1{
	  width: 23%;
	  height: auto;
	  margin-left: 36%;
	 margin-top: 3%;
  }
  .logo-cont2{
	width: 28%;
	height: auto;
	margin-top: 5%;
	margin-left: 34%;
  }

/********Section3********/




.fwh-slide3{
	height: 100vh;
	box-sizing: border-box;
	background-color:FFF9F9;
	background-size: cover;

}

.orange-box1{
		width: 100% ;
		height: -10%;
		background:#EF9E25;;
		display: inline-block;
		border-radius: 3px;
		padding-bottom: -10%;

}
.orange-text1{
	color: white;
	font-weight: 400;
	font-family: Abel;
	letter-spacing: 2.5px;
	margin-left: 10%;
}
.black-text1{
	color: rgb(14, 14, 14);
	font-weight: normal;
	font-family: Abel;
	letter-spacing: 1px;
	margin-left: 10%;
}

/****** Section4********/

.fwh-slide4{
	height: 63vh;
	box-sizing: border-box;
	background-color:#ffffff;
	background-size: cover;

}


/*******Section 5********/

.fwhslide5{
	height: 100vh;
	box-sizing: border-box;
	background-color:#ffffff;
	background-size: cover;
}













.redbox {
	border: #e74c3c dotted;
}
.bluebox {
	border: blue dotted;
}
.greenbox {
	border: green dotted;
}
.purplebox{
	border: purple dotted;
}