<template>
  <div id="App">
    <topbar />
    <sidebar />

    <div class="row">
      <div class="col-3"></div>

      <div class="col-3 addbook-div">
        <img :src="image" alt="" class="addbook-img-hw" />
        <b-button variant="link" v-b-modal.modal-1>Add Book</b-button>
      </div>

      <div class="col-md-5 outerdiv-srch">
        <div class="ml-auto innerdiv-srch">
          <b-form>
            <input type="text" placeholder="Search" />
            <b-button variant="light"
              ><font-awesome-icon icon="search"
            /></b-button>
          </b-form>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-3"></div>

      <div class="col -2">
        <b-table-simple responsive>
          <thead class="head" style="background-color: #131846; color: white">
            <tr>
              <th scope="col"><b-checkbox/></th>
              <th scope="col">Name</th>
              <th scope="col">Author</th>
              <th scope="col">Copy Available</th>
              <th scope="col">Category</th>
              <th scope="col">Action</th>
              
            </tr>
          </thead>
          <tr v-for="(book, index) in books" :key="index">
            <td><b-checkbox /></td>
            <td>{{ book.Name }}</td>
            <td>{{ book.Author }}</td>
            <td>{{ book.Copy }}</td>
            <td>{{ book.Categories }}</td>
            <td>
              <b-button variant="primary" size="sm" @click="update(index)">Edit</b-button>
              &nbsp;
              <b-button variant="danger" size="sm" @click="deleteRow(index)"
                >Delete</b-button
              ><br>
              <b-button variant="success" size="sm">Borrow</b-button>
              <b-button variant="warning" size="sm">Return</b-button>
            </td>
          </tr>
        </b-table-simple>
      </div>
    </div>

    <b-modal id="modal-1" title="Add Book" hide-footer="true" >
      <b-form >
        <b-form-input
          type="text"
          id="Name"
          name="Name"
          placeholder="Name"
          v-model="book.Name"
          required
        /><br />
        <b-form-input
          type="text"
          id="Author"
          name="Author"
          placeholder="Author"
          v-model="book.Author"
          required
        /><br />
        <b-form-input
          type="text"
          id="Copy"
          name="Copy"
          placeholder="Copy Available"
          v-model="book.Copy"
          required
        /><br />
        <b-form-input
          type="text"
          id="Category"
          name="Category"
          placeholder="Category"
          v-model="book.Category"
          required
          
        /><br />
        <div slot="modal-footer">
          <b-btn style="background-color: #131846" v-on:click="addBook"
            >Add book</b-btn
          >
        </div>
      </b-form>
    </b-modal>
  </div>
</template>

<script>
import sidebar from "./Sidebar";
import topbar from "./Topbar";
import image from "../assets/img/book-16-128.png";

export default {
  name: "book",
  components: {
    sidebar,
    topbar,
  },

 data() {
    return {
      image: image,
      book: {
        Name: "",
        Author: "",
        Copy: "",
        Category:"",
      },
      books: [{Name:'',Author:'', Copy:'', Category:''}],
    };
    
  },
  methods: {
    addBook() {
      this.books.unshift({ ...this.book });
      this.$bvModal.hide("patmod-2");
    },
    deleteRow(index) {
    this.books.splice(index, 1);
  },
  },
};
</script>

<style>
.btn-w {
  width: 55%;
}
.cb-bgc {
  width: 10px;
  height: auto;
}
th {
  background-color: #2f3640;
  color: white;
}
.addbook-img-hw {
  height: 30px;
  width: auto;
}
.addbook-div {
  padding: 20px;
}
.outerdiv-srch {
  padding: 20px;
}
.innerdiv-srch {
  width: 250px;
}
</style>
