<template>
     
  <div>
    <topbar/>
     <sidebar/>
      <div class="container">
        <div class="row">
          <div class="col-2 a">           
          </div>
          <div class="col-6 a">
              <canvas id="chartniMama"></canvas>   
          </div>
          <div class="col-4 a">

            <canvas id="chartniPapa"></canvas>

          </div>
        </div>
      </div>  
  </div>
</template>

<script>
import Chart from 'chart.js';
import Topbar from './Topbar.vue';
import Sidebar from './Sidebar.vue';

export default {
  components: {
    Topbar,
    Sidebar
  },
  name: 'dashboard',
  
 
    mounted: function () {
    let barChart = document.getElementById('chartniMama').getContext('2d');

    new Chart(barChart,{
         
        type: 'bar',

        data: {

            labels: ['Clean Architecture','Jose Rizal: LifesWorks','Code Complete','Continous Delivery'],
            datasets: [{

                label:'Borrowed',
                data:[100,45,30,80,70 ],
                backgroundColor: ['#3F7FBF','#3F7FBF','#3F7FBF','#3F7FBF','#3F7FBF', ],
            },
            {
              label:'Returned',
              data: [99,44,29,79,69],
              backgroundColor: ['#BF3F3F','#BF3F3F','#BF3F3F','#BF3F3F','#BF3F3F']
            },         
          ],
        },
        options:{
          responsive: true,
        },
    });

    let doughnutChart = document.getElementById('chartniPapa').getContext('2d');
 
     new Chart(doughnutChart,{

       title: 'Popular Genre',
      type: 'doughnut',
    data:{
      labels:['History','Computer Science'],
      datasets: [{
        
          data:[235, 600],
          backgroundColor: ['#BF3F3F','#3F7FBF'],

      }]

    },

    options: {


    }
});

  },

  
}
</script>

<style>

</style>
