<template>
  <div id="App">
    <topbar />
    <sidebar />

    <div class="row">
      <div class="col-3"></div>

      <div class="col-3 addpatron-div">
        <img :src="image" alt="" class="addpatron-img-hw" />
        <b-button variant="link" v-b-modal.modal-1>Add Patrons</b-button>
      </div>

      <div class="col-md-5 outerdiv-srch">
        <div class="ml-auto innerdiv-srch">
          <b-form>
            <input type="text" placeholder="Search" />
            <b-button variant="light"
              ><font-awesome-icon icon="search"
            /></b-button>
          </b-form>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-3"></div>

      <div class="col -2">
        <b-table-simple responsive>
          <thead class="head" style="background-color: #131846; color: white">
            <tr>
              <th scope="col"></th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Date Joined</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tr v-for="(patron, index) in patrons" :key="index">
            <td><b-checkbox /></td>
            <td>{{ patron.Name }}</td>
            <td>{{ patron.Email }}</td>
            <td>{{ patron.date }}</td>
            <td>
              <b-button variant="success" @click="update(index)">Edit</b-button> &nbsp;
              <b-button variant="danger" @click="deleteRow(index)">Delete</b-button>
            </td>
          </tr>
        </b-table-simple>
      </div>
    </div>

    <b-modal id="modal-1" title="Add Patron" hide-footer="true">
      <b-form>
        <b-form-input
          type="text"
          id="Name"
          name="Name"
          placeholder="Name"
          v-model="patron.Name"
          required
        /><br />
        <b-form-input
          type="text"
          id="email"
          name="email"
          placeholder="Email"
          v-model="patron.Email"
          required
        /><br />
        <b-form-input
          type="text"
          id="date"
          name="date"
          placeholder="Date"
          v-model="patron.date"
          required
        /><br />
        <div slot="modal-footer">
          <b-btn style="background-color: #131846" v-on:click="addPatron"
            >Add Patron</b-btn
          >
        </div>
      </b-form>
    </b-modal>

  </div>
</template>

<script>
import sidebar from "./Sidebar";
import topbar from "./Topbar";
import image from "../assets/img/add-user-3-128.png";

export default {
  name: "patron",

  components: { sidebar, topbar },
  data() {
    return {
      image: image,
      patron: {
        Name: "",
        Email: "",
        date: "",
      },
      patrons: [{name:'',Email:'', date:''}],
    };
    
  },
  methods: {
    addPatron() {
      this.patrons.unshift({ ...this.patron });
      this.$bvModal.hide("patmod-2");
    },
    deleteRow(index) {
    this.patrons.splice(index, 1);
  }
  },
};
</script>

<style>
.btn-w {
  width: 50%;
}
.cb-bgc {
  width: 10px;
  height: auto;
}
th {
  background-color: #2f3640;
  color: white;
}
.addpatron-img-hw {
  height: 30px;
  width: auto;
}
.addpatron-div {
  padding: 20px;
}
.outerdiv-srch {
  padding: 20px;
}
.innerdiv-srch {
  width: 250px;
}
</style>