<template>
     
  <div id="app">
    <topbar/>
    <sidebar/>
  </div>
</template>

<script>
import sidebar from './Sidebar'
import topbar from './Topbar'

export default {
  name: 'settings',
  components: {
    sidebar,
    topbar
  }
}
</script>

<style>

</style>
