
<template>

   <div class="sidenav">
        <div class="container ml-3">                    
          <div class = "row spacing" >
            <router-link to="/"><font-awesome-icon icon="home" size="lg" class="fa"/>Dashboard</router-link>     
          </div>
           <div class = "row spacing " >
              <router-link to="patron"><font-awesome-icon icon="id-card-alt" size="lg" class="fa"/>Patron Management</router-link>
          </div>
            <div class = "row spacing">
              <router-link to="book"><font-awesome-icon icon="file-archive" size="lg" class="fa"/>Book Management</router-link>
            </div>
            <div class = "row spacing " >
              <router-link to="settings"><font-awesome-icon icon="cogs" size="lg" class="fa"/>Settings</router-link>           
            </div> 
                   
          </div>
      </div>
</template>

<script>
import 'vue-router'
export default {
  name: 'sidebar',
  
  
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>

.sidenav {
    height: 100%; 
    width: 300px; 
    position: fixed; 
    z-index: 2; 
    top: 0; 
    left: 0;
    background-color:#2F3640; 
    overflow-x: hidden; 
    padding-top: 120px;
  }
  
  .sidenav a {
    padding: 20px 8px 6px 10px;
    text-decoration: none;
    font-size: 18px;
    font-family: Roboto;
    color:white;
    display: block;
  }
  
  
  .sidenav a:hover {
    color: aqua;
  }

  .main {
    margin-left: 160px; 
    padding: 0px 10px;
  }

  .fa {
  margin: 0 15px 0 0;
}

 .main {
    margin-left: 160px; 
    padding: 0px 10px;
  }
  .spacing{
    margin: 20px 0 0 0;
  }

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
  
</style>