<template>

  <b-nav class="navbar navbar-expand-lg navbar-light topbar-bg-color">

    <div class="container-fluid">
      <div class="col-8">
        <img class="logo-hw" :src="image" alt="">
      </div>
      <div class="col-2">
      <button class="btn btn-light">
        <font-awesome-icon icon="sign-out-alt" size="lg"/>
          <span>Logout</span>
      </button>
      </div>
    </div> 
</b-nav>

</template>

<script>

import image from '../assets/img/Logo.png'
export default {
    name: 'topbar',
    data(){
      return{
        image: image
      }
    }

}
</script>

<style>

.topbar-bg-color{
    background-color: #2F3640;
    z-index: 3;
  }

.logo-text{
    color: white;
    font-family: Roboto;
}
.logo-hw{
  width: 300px;
  height: auto;
}

</style>