.sidenav {
    height: 100%; 
    width: 300px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color:#2F3640; 
    overflow-x: hidden; 
    padding-top: 120px;
  }
  
  
  .sidenav a {
    padding: 20px 8px 6px 10px;
    text-decoration: none;
    font-size: 18px;
    font-family: Roboto;
    color:white;
    display: block;
  }
  
  
  .sidenav a:hover {
    color: aqua;
  }

  .topbar-bg-color{
    background-color: #2F3640;
    z-index: 2;
  }
  
  
  .main {
    margin-left: 160px; 
    padding: 0px 10px;
  }
  
  .spacing{
    margin: 20px 0 0 0;
  }

  .logo-text{
    color: white;
    font-family: Roboto;
  }

  .select-style {
    border: 1px solid #ccc;
    width: 120px;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa url("img/icon-select.png") no-repeat 90% 50%;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}

/* Icons */



.fa {
  margin: 0 15px 0 0;
}





/*  Table Border  */


table, th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
  font-size: 13px;
  
}

th {
  background-color: #2F3640;
  color:white;
  font-weight: 450;
  
}

.table-btn{
  padding: 2px;
  width: 50px;
}

 /* Book Management Table */

 .bm-table {
   padding: 1px
 }



 /* patron modal */

.elem-padding{
  padding: 10px;
}
.elem-font{
  font-family: Roboto;
  font-weight: 600;
}

/*  Media Screen */


  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  [class*="col-"] {
    width: 100%;
  }

  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }

  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }

  [class*="col-"] {
    width: 100%;
  }

  .b {
    border: red dotted;
  }